
body {
    background-image: url("fondo.svg");
    background-size: 30%;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cornsilk;
}

p.tres {
    background-color: darkgreen;
    width: 12cm;
    height: 7cm;
    text-align: justify;
}

p.uno {
    background-color: aqua;
    opacity: 0.5;
    width: 7cm;
    height: 10cm;
    text-align: justify;

}

div.dos {
    color: chartreuse;
    border: rgb(94, 255, 0) 0.3cm solid;
    text-align: center;
    font-style: oblique;
    
}